  <!----Login part BEGIN--->
    <div class="container margin-top-100" data-bind="visible: showLoginPage()">

        <!----WELCOME TO WHEREPRO---->

        <div class="row" style="text-align: center" >
            <div class="column u-full-width">
                <span class="welcome"> Welcome to &nbsp;</span>
                <img class="welcome" src="static/images/logo_black.png">
            </div>
        </div>

        <!----END WELCOME-------->

        <div class="row margin-top-100">
            <div class="column" >
                <div class="margin-auto-buttons">
                    Login via Facebook<br>
                    <a data-bind="click: $root.goToSelectFanpage" class="btn blue width-300px" disabled>Connect with Facebook</a>
                </div>
            </div>
        </div>

        <div class="row margin-top-40">
            <div class="column" >
                <div class="margin-auto-buttons">
                    Login to wherepro<br>
                    <a href="#" class="btn red width-300px">Log in</a>
                </div>
            </div>
        </div>

        <div class="row margin-top-40">
            <div class="column" >
                <div class="margin-auto-buttons">
                    Add new location<br>
                    <a href="#" class="btn red width-300px">Recommend new location</a>
                </div>
            </div>
        </div>
    </div>